* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    background-color: salmon;
    border-top: 0px;
    border-left: 0px;
    border-right: 3px;
    border-bottom: 0px;
    border-style: solid;
    border-color: gray;
}

#side-title {
    background-color: beige;
    width: 100%;
    padding: 19px 25px 24px 25px;
    text-align: left;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-style: solid;
}

.side-tab-intro {
    background-color: beige;
    width: 100%;
    padding: 14px 25px;
    text-align: left;
    border-top: 1px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px;
    border-style: solid;
}

.side-tab {
    background-color: beige;
    width: 100%;
    padding: 14px 25px;
    text-align: left;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px;
    border-style: solid;
}

.side-tab-ref {
    background-color: beige;
    width: 100%;
    padding: 14px 25px 180px 25px;
    text-align: left;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px;
    border-style: solid;
}

header {
    font-size: 1.8em;
}

a {
    text-decoration: none;
    color: black;
}

p {
    line-height: 23px;
}

#side-container {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.article-titles {
    margin-left: 340px;
    margin-top: 28px;
    text-align: left;
}

.article-paragraph {
    margin-left: 350px;
    margin-right: 30px;
    margin-top: 20px;
}

.code-block {
    margin-left: 363px;
    margin-top: 20px;
    margin-right: 55px;
    background-color: gainsboro;
    padding: 20px;
    border-radius: 3px;
}

.nested-code-block {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 300px;
    background-color: gainsboro;
    padding: 20px;
    border-radius: 3px;
}

.img {
    margin-left: 350px;
    margin-top: 25px;
}

#diagram {
    width: 675px;
    height: 200px;
}

#list {
    margin-left: 415px;
    margin-top: 25px;
    margin-right: 30px;
    line-height: 23px;
}

ul > li {
    margin-top: 15px;
}

ol > li {
    margin-top: 15px; 
}

#diagram-2 {
    width: 675px;
}

#highlighted {
    background-color: gainsboro;
    display: inline-block;
    border-radius: 2px;
}