* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main-content {
    color: green;
}

#sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    background-color: salmon;
    border-top: 0px;
    border-left: 0px;
    border-right: 3px;
    border-bottom: 0px;
    border-style: solid;
    border-color: gray;
}

#side-title {
    background-color: beige;
    width: 100%;
    padding: 19px 25px 24px 30px;
    text-align: left;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-style: solid;
}

.side-tab-intro {
    background-color: beige;
    width: 100%;
    padding: 14px 30px;
    text-align: left;
    border-top: 1px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px;
    border-style: solid;
}

.side-tab {
    background-color: beige;
    width: 100%;
    padding: 14px 30px;
    text-align: left;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px;
    border-style: solid;
}

.side-tab-ref {
    background-color: beige;
    width: 100%;
    padding: 14px 25px 180px 30px;
    text-align: left;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px;
    border-style: solid;
}

header {
    font-size: 1.8em;
}

a {
    text-decoration: none;
    color: black;
}

p {
    line-height: 23px;
    display: inline-block;
}

#side-container {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.article-titles {
    margin-left: 340px;
    margin-top: 28px;
    text-align: left;
}

.article-paragraph {
    margin-left: 350px;
    margin-right: 30px;
    margin-top: 20px;
}

.code-block {
    margin-left: 363px;
    margin-top: 20px;
    margin-right: 55px;
    background-color: gainsboro;
    padding: 20px;
    border-radius: 3px;
}

.nested-code-block {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 25px;
    background-color: gainsboro;
    padding: 20px;
    border-radius: 3px;
}

.img {
    margin-left: 350px;
    margin-top: 25px;
}

#diagram {
    width: 100%;
    height: auto;
    max-width: 45vw;
}

#firefox {
    width: 100%;
    height: auto;
    max-width: 18vw;
}

#list {
    margin-left: 415px;
    margin-top: 25px;
    margin-right: 30px;
    line-height: 23px;
}

ul > li {
    margin-top: 15px;
}

ol > li {
    margin-top: 15px; 
}

#diagram-2 {
    width: 100%;
    height: auto;
    max-width: 46vw;
}

#highlighted {
    background-color: gainsboro;
    display: inline-block;
    border-radius: 2px;
}

#paragraph-link {
    text-decoration: underline;
    color: rgb(78, 163, 192);
}

#website-template {
    width: 100%;
    height: auto;
    max-width: 45vw;
}

#page-bottom {
    margin-bottom: 150px;
}

@media (max-width: 1030px) {
    #main-content {
        color: black;
    }
}

@media (max-width: 815px) {
    #sidebar {
        position: relative;
        width: 100%;
        height: 220px;
    }

    #side-title {
        text-align: center;
    }
}

@media (max-width: 815px) {
    #main-content {
        margin-top: 100px;
    }

    .article-titles {
        margin-left: 30px;
    }

    .article-paragraph {
        margin-left: 40px;
        margin-right: 55px;
    }

    .code-block {
        margin-left: 53px;
    }

    .img {
        margin-left: 40px;
    }

    #list {
        margin-left: 105px;
        margin-right: 55px;
    }
}